@{
    ViewData["Title"] = "Dönem Dersleri";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Öğrenci Bilgi Sistemi</title>
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/next-sidebar.css" />
    <link rel="stylesheet" href="~/css/perfect-scrollbar.css" />
</head>
@Html.Partial("~/Views/Partials/OgrenciYanMenu.cshtml")
<body class="app">
    <h1 align="center">
        Dönem Dersleri
    </h1>


    <table class="table">

        <thead class="thead-dark">
            <tr>
                <th>Ders Kodu</th>
                <th>Ders Adı</th>
                <th>Ders Sorumlusu</th>
                <th>Z/S</th>
                <th>Kredi</th>
                <th>AKTS</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>YMM4122</td>
                <td>Yapay Zeka</td>
                <td>Dr. Öğr. Üyesi EMRAH DÖNMEZ</td>
                <td>Z</td>
                <td>4</td>
                <td>5</td>
            </tr>
            <tr>
                <td>YMM4143</td>
                <td>Makine Öğrenmesi</td>
                <td>Dr. Öğr. Üyesi BUKET TOPTAŞ</td>
                <td>S</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>MIS4101</td>
                <td>İş Sağlığı ve Güvenliği I</td>
                <td>Doç.Dr. İSMAİL KOÇAK</td>
                <td>Z</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>YMM4150</td>
                <td>Veri Bilimi</td>
                <td>Dr. Öğr. Üyesi SERHAT KILIÇARSLAN</td>
                <td>S</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>YMM4137</td>
                <td>Proje Yönetimi</td>
                <td>Öğr.Gör.Dr. MESUT ULU</td>
                <td>Z</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>YMM4123</td>
                <td>Yazılım Test ve Doğrulama</td>
                <td>Öğr.Gör. Abdullah ELEN</td>
                <td>Z</td>
                <td>2</td>
                <td>3</td>
            </tr>
            
        </tbody>

    </table>


</body>
</html>
